{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}
  com.aayushatharva.brotli4j/native-linux-x86_64 {:mvn/version "1.20.0"}
  dynamic-alpha/hyper {:git/url "https://github.com/dynamic-alpha/hyper"
                       :git/sha "dc317a3498ccaeb551acb280c86f027f8ff0bb9e"}}
 :aliases
 {:run
  {:main-opts ["-m" "hyper-active-search.app"]}
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.13"}}
   :ns-default build}}}
